body {
    background-image: url("../img/bg.png");
    background-repeat: repeat;
}


.laptop-body {
    width: 1000px;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -275px;
    opacity: 1;
}

.viewport {
    z-index: -1;
    width: 665px;
    position: absolute;
    margin-left: 175px;
    top: 40px;
    opacity: 1;
}

.hideme
{
    opacity:0;
    z-index: 30;
    position: relative;
}

.finder {
    width: 600px; 
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -175px;
    opacity: 0;
}

.finder-text {
    font-family: lucida sans unicode, lucida grande, sans-serif;
    width: 600px; 
    position: absolute;
    top: 50px;
    left: 100px;
}

#fake-terminal {
    width: 650px; 
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -325px;
    margin-top: -245px;
    opacity: 1;
    z-index: 30;
    position: relative;

    
}

.logo {
    width: 230px;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -55px;
    opacity: 1;
}

.intro {
    width: 500px;
    font-family: amaranth, serif;    
    font-size: 22px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    text-align: center;
    color: #536369;
    position: fixed;
}






/* Gradient Social Media Buttons
----------------- http://www.briangardner.com/social-media-buttons ------------------- */

a.button-dribbble,
a.button-facebook,
a.button-googleplus,
a.button-linkedin,
a.button-pinterest,
a.button-rss,
a.button-tumblr,
a.button-twitter {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 1px #999;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0 20px 20px 0;
    padding: 10px 15px;
    text-align: center;
    width: 130px;
    text-decoration: none;
    font-family: 'Amaranth', serif;
}

a.button-tumblr {
    background-color: #2c4762; /* fallback color */
    background: -moz-linear-gradient(top, #3a5876, #2c4762);
    background: -ms-linear-gradient(top, #3a5876, #2c4762);
    background: -webkit-linear-gradient(top, #3a5876, #2c4762);
    border: 1px solid #2c4762;
    text-shadow: 0 -1px -1px #203448;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -85px;
    margin-top: 0px;
}

a.button-tumblr:hover {
    background: -moz-linear-gradient(top, #2c4762, #3a5876);
    background: -ms-linear-gradient(top, #2c4762, #3a5876);
    background: -webkit-linear-gradient(top, #2c4762, #3a5876);
}

.terminal {
font-family: 'Consolas', FreeMono, monospace;
font-size: 14px;
line-height: 110%;
}

#sharing-tools {
    position: absolute;
    top: 10px;
    left: 10px;
}