/**
 * All your custom CSS should go into this file
 */
.header {
    background-image: url('../img/good7.jpg');
    background-size: auto 100%;
    height:386px;
    padding-top: 200px;
    border-bottom: 3px solid black;
    background-position: center top;
    transition: background 0.5s linear;
    -moz-transition: background 0.5s linear; /* Firefox 4 */
    -webkit-transition: background 0.5s linear; /* Safari and Chrome */
    -o-transition: background 0.5s linear; /* Opera */
    background-repeat: no-repeat;

}
    
.header-buttons {
    width: 480px;
    margin: 0 auto;
}

.navbar .brand {
    font-family: 'Amaranth';
    font-size: 28px;
    text-shadow: 0px 2px 3px #555;
    color: #eff3f6;
    padding: 4px 20px 4px 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    top: 0;
}

.navbar-inner {
    background-color: rgba(255, 255, 255, 0.79);
    background-image: none;
}

body {
     background-image: url('../img/bgnd5.png');
     background-repeat: repeat;
}

.header h1 {
	font-family: 'Lato', sans-serif;
	font-size: 70px;
	font-weight: 700;
	text-shadow: 0px 1px 15px black;	
	color: white;
	text-align: center;
	line-height: 110%;
}
.header h2 {
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
	line-height: 110%;
	text-shadow: 2px 2px 2px black;	
	color: white;
	text-align: center;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 60px;
}

p, ul, li {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
}


.producticons{
	width:140px;
	height:140px;
	display:block;
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	-khtml-border-radius:100px;
	font-size:20px;
	color:#fff;
	line-height:135px;
	text-decoration:none;
	text-align:center;
	font-size: 72px;
	margin: 0 auto;
	-moz-transition-property : background; /* FireFox */
	-webkit-transition-property : background; /* Safari / Chrome */
	-o-transition-property : background; /* Opera */
	transition-property : background; /* W3C */
	-moz-transition-property : border; /* FireFox */
	-webkit-transition-property : border; /* Safari / Chrome */
	-o-transition-property : border; /* Opera */
	transition-property : border; /* W3C */
	-moz-transition-duration : .7s; /* FireFox */
	-webkit-transition-duration : .7s; /* Safari / Chrome */
	-o-transition-duration : .7s; /* Opera */
	transition-duration : .7s; /* W3C */

}
#product1icon{
	border:#2763a3 15px solid;
	background: #3a7cc7;
}
#product1icon:hover{
	border:#3a7cc7 15px solid;
	background: #2763a3;
}
#product2icon{
	border:#B10011 15px solid;
	background:#E01021;
}
#product2icon:hover{
	border:#E01021 15px solid;
	background:#B10011;
}
#product3icon{
	border:#037448 15px solid;
	background:#08935a;
}
#product3icon:hover{
	border:#08935a 15px solid;
	background:#037448;
}
#product4icon{
	border:#bbb300 15px solid;
	background:#e1d405;
	text-shadow: 0px 1px 1px #BBB300;
}
#product4icon:hover{
	border:#e1d405 15px solid;
	background:#bbb300;
	text-shadow: 0px 1px 1px #BBB300;
}

.product1box{
	width:200px;
	height:200px;
	display:block;
	border-radius:26px 26px 26px 26px;
	-moz-border-radius:26px 26px 26px 26px;
	-webkit-border-radius:26px 26px 26px 26px;
	-khtml-border-radius:26px 26px 26px 26px;
	border:#2762a2 5px solid;
	font-size:20px;
	color:#fff;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	background:#397bc6;
	font-size: 30px;
	position: relative;
	left: 25px;
	top: -30px;
	margin-left: -100px;
	z-index: -1;
}

.step1 {
	width:70px;
	height:70px;
	display:block;
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	-khtml-border-radius:100px;
	font-size:20px;
	color:#fff;
	line-height:135px;
	text-decoration:none;
	text-align:center;
	font-size: 40px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	line-height: 70px;
	background: #3a7cc7;
    -moz-box-shadow:0px 0px 0px 10px rgba(143, 143, 143, 0.28) ,inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow:0px 0px 0px 10px rgba(143, 143, 143, 0.28) ,inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    box-shadow:0px 0px 0px 10px rgba(143, 143, 143, 0.28) ,inset 0px 1px 0px rgba(255, 255, 255, 0.25);

}

.nivoSlider {
    position:relative;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

#adv-custom-caption {
    font-family: 'Lato', 'Helvetica', sans-serif; 
    font-weight: 300; 
    font-size: 24px; 
    line-height: 26px;
}

.carousel-title {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 2px 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-title h3 {
    font-size: 22px;
    font-family: 'Lato', 'Helvetica', sans-serif; 
    font-weight: 500;
    color: white;
    display: inline;
}

.carousel-title h4 {
    font-size: 22px;
    font-family: 'Lato', 'Helvetica', sans-serif; 
    font-weight: 100;
    color: white;
    display: inline;

}

.carousel-caption p {
    font-size: 12px;
    line-height: 18px;
}

.navbar .nav > li > a {
    padding: 15px 15px 15px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: rgba(131, 131, 131, 0.43);
}
